.container {
    width: 100%;
   h1{
    font-size: 20px;
   }
    overflow-x: auto;
    .select{
      display: flex;
      margin-top: 30px;
      flex-direction: column;
    }
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;

  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 12px 15px; /* Add padding to create gaps between columns */
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  .next{
    display: flex;
    justify-content: center;
    align-items: center;
    button{
      padding: 12px 24px;
      background-color: #e6f751;
      border: transparent;
      margin-top: 10px;
    }
    span{
      font-size: 17px;
      padding: 10px 20px;
      background-color: #f3eaea;
      margin: 5px;
    }
  }